/* Sass Variables */
/* Base Styles */
body {
  background-color: #eff9fb;
  margin: 0 auto;
  width: 100%;
  color: #290b0a;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.full-width {
  width: 100%;
  display: flex;
}

img {
  max-width: 100%;
}

.half-width {
  width: 50%;
}

.third-width {
  width: 30%;
}

.half-width, .third-width {
  padding: 25px 40px;
}

/* Announcements */
#announcements {
  background-color: #f04554;
  padding: 15px 0;
}
#announcements h4 {
  font-size: 20px;
  color: #eff9fb;
  text-align: center;
  font-family: "Arial", sans-serif;
}
#announcements p {
  font-size: 18px;
  font-family: "Arial", sans-serif;
  line-height: 32px;
  color: #eff9fb;
  padding: 0 15px;
}

/* Header */
header {
  padding: 15px 0;
}
header h1 {
  font-size: 40px;
  font-family: "Lobster Two", cursive;
  padding-left: 15px;
}
header nav ul {
  display: inline-flex;
  justify-content: space-around;
}
header nav li {
  list-style-type: none;
  padding: 40px 5px;
  align-items: space-between;
}
header nav a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Arial", sans-serif;
  color: #290b0a;
}
header nav a:hover {
  color: #5a3626;
}
header nav button {
  display: block;
  width: 100%;
  background-color: #01bf2b;
  color: #eff9fb;
  border: 1px solid transparent;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.3rem;
}

/* Email */
#email {
  background-color: #01bf2b;
  padding: 20px 0;
}
#email h2 {
  font-size: 35px;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #eff9fb;
}
#email p {
  font-size: 20px;
  line-height: 32px;
  color: #eff9fb;
  padding: 0 20px;
}
#email form input {
  display: block;
  font-size: 20px;
  border-radius: 0.3rem;
  border: 1px solid transparent;
}
#email form #name {
  width: 100%;
  padding: 10px;
  margin: 15px 5px;
}
#email form #address {
  width: 100%;
  padding: 10px;
  margin: 15px 5px;
}
#email form #submit {
  display: block;
  width: 100%;
  background-color: #f04554;
  color: #eff9fb;
  border: 1px solid transparent;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.3rem;
  margin: 15px 5px;
}

/* Featured */
#featured {
  padding: 40px 0;
}
#featured h2 {
  text-align: center;
  font-size: 35px;
  font-family: "Lobster Two", cursive;
  color: #f04554;
}
#featured h3 {
  font-size: 30px;
  font-family: "Arial", sans-serif;
  color: #290b0a;
}
#featured p {
  font-size: 20px;
  line-height: 32px;
  color: #290b0a;
  font-family: "Arial", sans-serif;
}
#featured button {
  display: block;
  width: 95%;
  background-color: #01bf2b;
  color: #eff9fb;
  border: 1px solid transparent;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.3rem;
}
#featured img {
  padding: 80px 0;
}

/* Popular */
#popular {
  padding: 40px 0;
}
#popular h2 {
  font-size: 35px;
  font-family: "Lobster Two", cursive;
  color: #f04554;
  text-align: center;
}
#popular h3 {
  font-size: 30px;
  font-family: "Arial", sans-serif;
  color: #290b0a;
  text-align: center;
}
#popular p {
  font-size: 20px;
  line-height: 32px;
  color: #290b0a;
  font-family: "Arial", sans-serif;
}
#popular button {
  display: block;
  width: 95%;
  background-color: #01bf2b;
  color: #eff9fb;
  border: 1px solid transparent;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.3rem;
}

/* Recipe */
#recipe {
  padding: 40px 0;
}
#recipe h2 {
  font-size: 35px;
  font-family: "Lobster Two", cursive;
  color: #f04554;
  text-align: center;
}
#recipe img {
  padding: 80px 0;
}
#recipe h3 {
  font-size: 30px;
  font-family: "Arial", sans-serif;
  color: #290b0a;
  text-align: center;
}
#recipe p {
  font-size: 20px;
  font-family: "Arial", sans-serif;
  color: #290b0a;
  line-height: 32px;
}
#recipe button {
  display: block;
  width: 95%;
  background-color: #01bf2b;
  color: #eff9fb;
  border: 1px solid transparent;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.3rem;
}

/* Footer */
footer {
  background-color: #01bf2b;
  color: #eff9fb;
}
footer p {
  font-size: 18px;
  font-family: "Arial", sans-serif;
}
footer ul {
  display: flex;
}
footer ul li {
  list-style-type: none;
  padding-left: 15px;
}

/*# sourceMappingURL=tablet.css.map */
