/* http://colorpalettes.net/color-palette-3106/ */
/* Basic Styles */
body {
  font-family: sans-serif;
  font-size: 20px;
  background-color: #ebe9dc;
}

/* Header */
header {
  height: 175px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  background-color:#607c9c;
}

header h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 52px;
  color: #ebe9dc;
}

header nav {
  float: right;
  padding: 20px 0;
}

header nav ul li {
  display: inline-block;
  padding: 20px;
}

header nav ul li a {
  font-size: 20px;
  font-family: 'Lobster Two', cursive;
  color: #ebe9dc;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #181f41;
}

/* Featured */
#featured {
  width: 100%;
  margin: 0 auto;
  height: 500px;
}

#featured h2 {
  font-family: 'Lobster Two', cursive;
  text-align: center;
  font-size: 42px;
  color: #181f41;
}

#featured span {
  color: #181f41;
}

#featured img {
  height: 375px;
}

#featured h3 {
  font-family: 'Lobster Two', cursive;
  font-size: 32px;
  text-align: center;
  color: #181f41;
  padding: 80px 0;
}

#featured p {
  color: #573230;
  font-size: 20px;
  line-height: 32px;
  padding: 20px 0;
}

/* cocoas */
#cocoas {
  width: 100%;
  height: 550px;
  padding: 20px 0;
  margin: auto;
  border: 2px solid #181f41;
}

#cocoas h2 {
  text-align: center;
  font-family: "Lobster Two", cursive;
  font-size: 42px;
  color: #181f41;
}

#cocoas img {
  height: 200px;
  padding-left: 60px;
}

#cocoas h3 {
  font-size: 32px;
  font-family: "Lobster Two", cursive;
  color: #181f41;
  text-align: center;
}

#cocoas p {
  font-size: 20px;
  line-height: 30px;
  color: #573230;
}

/* Recipes */
#recipes {
  width: 100%;
  margin: 0 auto;
  height: 500px;
  padding: 80px 0;
}

#recipes h2 {
  font-family: 'Lobster Two', cursive;
  font-size: 42px;
  text-align: center;
  color: #181f41;
}

#recipes p {
  font-size: 20px;
  line-height: 32px;
}

#recipes button {
  font-size: 16px;
  background-color:#607c9c;
  color:#ebe9dc;
}

#recipes img {
  height: 375px;
}

/* Info */
#info {
  width: 100%;
  margin: 0 auto;
  height: 200px;
  padding: 40px 0;
}

#info h5 {
  font-size: 16px;
  color: #181f41;
  font-family: 'Lobster Two', cursive;
}

#info button {
  font-size: 16px;
  background-color:#607c9c;
  color:#ebe9dc;
}

#info nav {
  padding: 20px 15px;
}

#info nav ul li {
  list-style-type: none;
}

#info nav ul li a {
  color: #181f41;
  font-size: 16px;
}

/* Footer */
footer {
  background-color:#607c9c;
  width: 100%;
  height: 100px;
  padding: 30px 0;
}

footer p {
  font-size: 16px;
  color: #ebe9dc;
}

footer nav {
  float: right;
}

footer nav ul li {
  display: inline-block;
}

footer nav ul li i {
  text-decoration: none;
  padding-left: 15px;
  color: #ebe9dc;
}

footer nav ul li i a {
  color:#c7c2b8;
}
